#tit, #par, #par1
{
    text-shadow:1.3px 1.3px 1.3px white, 1.3px 1.3px 1.3px black;
    background-color: rgba(255 ,255,255,0.5);
}
#white-bg
{
    background-color: rgba(255 ,255,255,0.87);

}
a, a:hover, a:focus, a:active
{
    text-decoration: none;
    color: inherit;
}
.bold-bg
{
    background-color: white;
}

nav
{
    margin-top: 1vw;
    margin-left: 5vw;
    padding-top: 1vw;
}


